<html>
<head>
	<title>Utah Colocation</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> <!-- Angular -->
	<link rel="icon" 
      type="image/png" 
      href="favicon.png">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="auth-buttons.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> <!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'> <!-- Raleway -->
	



	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script> <!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.min.js"></script> <!-- ngRoute -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script> <!-- angular UI -->
	<script src="js/mbox.js"></script> <!-- mbox v56 -->
</head>
<body ng-app="pommApp">

	<div ng-controller="MainCtrl">
		<nav class="navbar navbar-default navbar-fixed-top">
  			<div class="container">
  				<a id="nText" href="/#/" class="navbar-brand" style="font-size: 32px; color: rgba(30, 30, 30, 0.85);">Utah Colocation</a>
  				<a id="nText" href="/#/">Home</a>
  				<a id="nText" href="/#/Rules">More Info</a>
  				<a id="nText" href="/#/About">About</a>
  				<a id="nText requestQuote" class="requestQuote"><button ng-click="open()" type="button" class="btn btn-default navbar-btn">Request A Quote</button></a>
 			 </div>
		</nav>
		<ng-view></ng-view>
		</div>
		<footer class="footer" style="height: 100px;">
      		<div class="container" style="padding-top: 25px;">
       		 <div class="text-muted">
       		 	<span class="footer-comp">
       		 		<!-- <img style="height: 50px; width: 50px;" src="http://cdn.flaticon.com/png/256/22141.png"></img>Click the Entry</span><span class="footer-comp"><img style="height: 50px; width: 50px;" src="http://freeiconbox.com/icon/256/17794.png"></img>Buy a Ticket</span><span class="footer-comp"><img style="height: 50px; width: 50px;" src="http://cdn.flaticon.com/png/256/20687.png"></img>Pot gets Bigger</span><span class="footer-comp"><img style="height: 50px; width: 50px;" src="https://cdn0.iconfinder.com/data/icons/insurance-4/500/loan-128.png">Winner loses Mortgage! -->
       		 		Footer content goes here if needed
       		 	</span>
       		  </div>
      		</div>
    	</footer>
    	
	</div>
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Please Enter Your Information below:</h3>
        </div>
        <div class="modal-body">
            <input type="text" placeholder="Full Name" required="true"></input><br>
            <input type="text" placeholder="Phone #" required="true"/><br>
            <input type="text" placeholder="email" required="true"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
<script src="js/app.js"></script>
<script src="js/MainCtrl.js"></script>
<script src="services/mainService.js"></script>
<script src="js/jQuery.js"></script> <!-- modals and stuff -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> <!-- jQuery UI -->
<div class="mboxDefault">
		</div>
		<script type="text/javascript">
		 mboxCreate('pommFooterMbox');
		</script>

</body>
</html>