









/* <--Old CSS Styling w/o Bootstrap--> */
html, body {
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: 'Helvetica', sans-serif;
	font-weight: 200;
	text-align: center;
   padding-top: 30px;
}

hr {
   margin: 0px;
}

a {
   text-decoration: none;
}

footer {
   height: 60px;
   background-color: #eee;
}
/*footer {
   background: #eee;
   width: 100%;
   height: 120px;
   display: inline-block;
   text-align: center;
   margin: 0px;
}*/

#coText {
   font-size: 24px;
   color: rgba(30, 30, 30, 0.85);
}
#nText {
   padding-right: 15px;
   font-size: 18px;
}

#eButton {
  width: 15%;
  height: 56px;
  opacity: .9;
  border-radius: 6px;
  font-size: 24px;
}
.hero-container {
   background: url("img/homeBG.jpg");
   background-size: 100%;
   height: 100%; 
   width: 100%;
}

/*.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 20px 45px;
   margin: 30px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover {
   border-top-color: #256d9c;
   background: #256d9c;
   color: #e3e0e3;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}*/

.navBar {
	background: #eee;
	width: 100%;
	height: 60px;
   display: inline-block;
   text-align: right;
   margin: 0px;
   opacity: 0.9;
}

.nav-text {
   text-decoration: none;
   padding-right: 10px;
   vertical-align: middle;
}

.moneyPot {
   font-family: 'Raleway', sans-serif;
	font-size: 180px;
   font-size: 12vw;
   padding: 100px 0px 50px 0px;
   color: rgba(230, 230, 230, 0.75);
}

.infoCopy {
	/*width: 75%;*/
	text-align: center;
	padding: 1% 15% 1% 15%;
}
*/