<div>
<div class="hero-container-home">
	 <!-- <money-pot class="moneyPot" style="padding-top: 100px;"></money-pot> 
	<a href="/#/Pay"><button id="eButton">Enter</button></a> -->
	<div class="moneyPot">Utah Colocation Data Centers</div>
</div>
	<hr>
	<div class="fancy">
	<!-- <img src="http://assets.cdn.aws.vivint.com/2014/images/newyorktimes-r1.jpg">
		 <img src="http://assets.cdn.aws.vivint.com/2014/images/mashable.jpg">
		 <img src="http://assets.cdn.aws.vivint.com/2014/images/usatoday.jpg">
		 <img src="http://assets.cdn.aws.vivint.com/2014/images/wsj-r1.jpg"> -->
		 <span class="quote">&#8220;</span>Utah Colocation saved me from looking like a real dummy in the IT department. Thanks Utah Colo!<span class="quote">&#8221;</span> -Mike McHappy-Customer
	</div>
	<hr>
	<h3>Current Specials:</h3>
	<div class="infoCopy two-blocks">
	<div class="blocked-list">
		<p class="listy"><strong>Full Rack</strong></p>

		<p class="listy">42U Full Cabinet</p>
		<p class="listy">20A A&B Legs</p>
				<p class="listy">100 MB Ethernet Connection</p>
		<p class="listy">24x7 Support</p>
	</div>
	<div class="blocked-list">
		<p class="listy"><strong>Half Rack</strong></p>
		<p class="listy">21U Lockable Cabinet</p>
		<p class="listy">120v Primary Outlet</p>
		<p class="listy">50MB Ethernet Connection</p>
		<p class="listy">Fixed IP Bandwidth (4)</p>
	</div>
	</div>
</div>

<!-- style="padding-top: 55px;" -->