<div class="hero-container">
	<div class="moneyPot">$<span id="moneyPot"></span></div>
	<a href="/#/Pay"><button class="button">Enter</button></a>
</div>
	<hr>
	<p>Accolades - Logos - Partners</p>
	<hr>
	<p>Copy on how to win and enter:</p>
	<p class="infoCopy">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut neque eu ligula dignissim eleifend vel et metus. Integer eget nisi ut dolor ultrices consequat aliquam sed nisi. Phasellus at diam vitae dui commodo tincidunt sed sit amet augue. In auctor elementum erat eu commodo. Ut vehicula ante neque, id interdum erat tristique at. Donec pharetra nisi sapien, ut dictum ex egestas nec.<br> 
	<br>Sed in sapien velit. Cras sodales ullamcorper dolor eget cursus. Aenean accumsan aliquet tortor. Maecenas vitae nisi ac nisi finibus facilisis ut eu massa. Sed ullamcorper odio quis nisl congue, eget accumsan sapien venenatis. Donec maximus purus quis varius pharetra. Nulla tempor dapibus quam, sagittis feugiat velit dignissim sed. Etiam laoreet pretium elit, non tincidunt leo congue non.<br>
	<br>Aliquam in pharetra lacus, vitae fringilla justo. In ullamcorper hendrerit pretium. Morbi sed tortor sit amet velit tempor fringilla. Proin vitae tortor tempor magna pretium dictum. Vivamus auctor lacinia mauris, quis iaculis justo posuere quis.<br> 
	<br>Aliquam sit amet pellentesque quam, eget sollicitudin sapien. Nulla non ornare risus, vel aliquet augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis commodo commodo commodo. Ut in porttitor ipsum, in dictum neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus accumsan rutrum magna, eu sagittis purus hendrerit quis.
	</p>
	<div class="mboxDefault">
			Part that I'd like to overlay during a campaign or test.
	</div>
	<script type="text/javascript">
	 mboxCreate('myNewMbox');
	</script>