<!-- <div class="hero-container">
  <h1>Login Page!!</h1>
  	<div ng-show="authData">  <!--  ->
        <p>Hello, {{ authData.google.displayName }}</p>
        <button ng-click="auth.$unauth()">Logout</button>
      </div>
      <div ng-hide="authData"> <!--  ->
        <p>Welcome! Create an account:</p>
        <form>
          <input type="text" placeholder="Email" ng-model="newEmail"><br>
          <input type="password" placeholder="Password" ng-model="newPassword"><br>
          <input type="submit" ng-click="createUser()" placeholder="Create"><br>
        </form>
        <!-- <button ng-click="auth.$authWithOAuthPopup()">Login</button> -->
        <!-- <button ng-click="emailLogin()" ng-show="emailLoginShow">Email Login</button> <br> ->
        Existing users, please login:<br>
        <button ng-click="emailLoginShow()">Email Login</button> <br>
        <!-- <p ng-show="emailLoginShow">It will appear here!</p> ->
        <form ng-hide="emailLoginShow">
          <input type="text" placeholder="Email" ng-model="userEmail"><br>
          <input type="password" placeholder="Password" ng-model="userPassword"><br>
          <input type="submit" ng-click="emailLogin()">
        </form>


        Or<br>
        <a class="btn-auth btn-facebook" ng-click="facebookLogin()">
          Sign in with <b>Facebook</b>
        </a>
    	  <a class="btn-auth btn-twitter" ng-click="twitterLogin()">
          Sign in with <b>Twitter</b>
        </a>
        <a class="btn-auth btn-google" ng-click="googleLogin()">
          Sign in with <b>Google</b>
        </a>
      </div>
      <money-pot class="moneyPot"></money-pot> 
</div> -->

USING A MODAL INSTEAD